* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #ededed;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
.container {
  width: 90%;
  margin: 20px auto;
  height: calc(100vh - 40px);
  padding: 20px;
  background-color: #81d4fa;
}
@media (max-width: 767px) {
  .container {
    height: 180vh;
  }
}
@media (max-width: 373px) {
  .container {
    height: 250vh;
  }
}
.row {
  display: flex;
  height: 75%;
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
}
@media (max-width: 373px) {
  .row {
    height: 62%;
  }
}
hr {
  border: 1px solid #eee;
}
.game-info {
  display: flex;
}
.game-info .game-name {
  flex: 1;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 1.4rem;
}
.game-info .category {
  flex: 1;
  text-align: right;
  font-weight: bold;
  font-size: 1.4rem;
}
.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
}
.hang-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 2em;
}
@media (max-width: 373px) {
  .hang-draw {
    padding: unset;
    height: 55%;
  }
}
.hang-draw__draw {
  height: 90%;
  width: 6rem;
  border-bottom: 0.4rem solid #222;
  border-radius: 0.4em;
  position: relative;
  left: 6rem;
  transform: translateX(-50%);
  display: none;
}
@media (max-width: 767px) {
  .hang-draw__draw {
    left: 3rem;
  }
}
@media (max-width: 373px) {
  .hang-draw__draw {
    left: unset;
  }
}
.hang-draw__stand {
  position: absolute;
  width: 0.4em;
  background-color: #222;
  height: 100%;
  border-radius: 0.6em;
  left: 50%;
  top: 0.2em;
  margin-left: -0.2rem;
  display: none;
}
.hang-draw__hang {
  position: absolute;
  height: 0.4em;
  background-color: #222;
  width: 8rem;
  left: 3rem;
  top: 1rem;
  display: none;
}
.hang-draw__hang::after {
  content: "";
  position: absolute;
  height: 3rem;
  width: 0.4em;
  background-color: #222;
  border-radius: 0.6em;
  left: 7.8rem;
  top: 0;
}
.hang-draw__rope {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  left: 8rem;
  top: 4rem;
  border: 0.4em dashed #222;
  display: none;
}
.hang-draw__man .man__head {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  position: absolute;
  border: 0.4em solid #222;
  left: 8.7rem;
  top: 4.7rem;
  display: none;
}
.hang-draw__man .man__body {
  width: 0.4em;
  height: 34%;
  position: absolute;
  left: 10.8rem;
  top: 9rem;
  background-color: #222;
  display: none;
}
@media (max-width: 767px) {
  .hang-draw__man .man__body {
    height: 48%;
  }
}
.hang-draw__man .man__hands {
  display: none;
}
.hang-draw__man .man__hands::before,
.hang-draw__man .man__hands::after {
  content: "";
  width: 5em;
  height: 0.4em;
  position: absolute;
  background-color: #222;
  border-radius: 0.6em;
  top: 12rem;
}
.hang-draw__man .man__hands::before {
  left: 8rem;
  transform: rotate(30deg);
}
.hang-draw__man .man__hands::after {
  left: 10.8rem;
  transform: rotate(-30deg);
}
.hang-draw__man .man__legs {
  display: none;
}
.hang-draw__man .man__legs::before,
.hang-draw__man .man__legs::after {
  content: "";
  width: 6.5em;
  height: 0.4em;
  position: absolute;
  background-color: #222;
  border-radius: 0.6em;
  top: 17.5rem;
}
@media (max-width: 767px) {
  .hang-draw__man .man__legs::before,
  .hang-draw__man .man__legs::after {
    top: 20rem;
  }
}
.hang-draw__man .man__legs::before {
  left: 7.2rem;
  transform: rotate(-30deg);
}
.hang-draw__man .man__legs::after {
  left: 10.5rem;
  transform: rotate(30deg);
}
.hang-draw__draw.wrong-1 {
  display: block;
}
.hang-draw__draw.wrong-2 .hang-draw__stand {
  display: block;
}
.hang-draw__draw.wrong-3 .hang-draw__hang {
  display: block;
}
.hang-draw__draw.wrong-4 .hang-draw__rope {
  display: block;
}
.hang-draw__draw.wrong-5 .man__head {
  display: block;
}
.hang-draw__draw.wrong-6 .man__body {
  display: block;
}
.hang-draw__draw.wrong-7 .man__hands {
  display: block;
}
.hang-draw__draw.wrong-8 .man__legs {
  display: block;
}
.letters {
  flex: 1;
  padding: 20px;
  text-align: center;
}
@media (max-width: 373px) {
  .letters {
    padding: unset;
    height: 45%;
    overflow: auto;
  }
}
.letters__letter {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  line-height: 50px;
  color: chocolate;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.letters.end .letters__letter {
  pointer-events: none;
}
.letters__letter:hover {
  background-color: white;
}
.letters__letter.clicked {
  background-color: rgba(17, 60, 255, 0.6);
  opacity: 0.2;
  pointer-events: none;
}
.letter-guess {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #b5f0e2;
  border-radius: 6px;
  min-height: 80px;
}
@media (max-width: 767px) {
  .letter-guess {
    flex-wrap: wrap;
  }
}
.letter-guess span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(210, 105, 30, 0.7);
  border-bottom: 4px solid #05a3ec;
  border-radius: 3px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .letter-guess span {
    margin-bottom: 5px;
  }
}
.letter-guess span.with-space {
  background-color: transparent;
  border-bottom: none;
  position: relative;
}
.letter-guess span.with-space::before {
  content: "";
  width: 25px;
  height: 4px;
  background-color: chocolate;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup {
  width: 75%;
  height: 75vh;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #05a3ec;
  color: chocolate;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 5rem 2rem;
  text-align: center;
  border: 0.2em solid #f8f8f8;
  border-radius: 0.4em;
}
.reset {
  display: block;
  width: 10rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: #b5f0e2;
  color: #333;
  font-size: 1.5rem;
  border-radius: 0.6em;
  border: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .popup {
    height: 80%;
    font-size: 1.5rem;
  }
  .reset {
    height: unset;
  }
}
